In [173]:
# PyCity Schools Analysis

In [174]:
# Imports
import pandas as pd
from pathlib import Path

# Files to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [175]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [176]:
# District Summary

In [177]:
# Calculate the total number of unique schools
school_data_complete_df['school_name'].unique()
len(school_data_complete_df['school_name'].unique())
school_count = len(school_data_complete_df['school_name'].unique())
school_count

15

In [178]:
# Calculate the total number of students
school_data_complete_df['student_name'].unique()
len(school_data_complete_df['student_name'].unique())
student_count = school_data_complete_df['student_name'].count()
student_count

39170

In [179]:
# Calculate the total budget
school_data_complete_df['budget'].unique()
sum(school_data_complete_df['budget'].unique())
budget_data = sum(school_data_complete_df['budget'].unique())
budget_data

24649428

In [180]:
# Calculate the average (mean) math score
school_data_complete_df['math_score'].mean()
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [181]:
# Calculate the average (mean) reading score
school_data_complete_df['reading_score'].mean()
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [182]:
# Calculate the percentage of students passing math
passing_math_count_df = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [183]:
# Calculate the percentage of students passing reading
passing_reading_count = school_data_complete_df[(school_data_complete_df['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [184]:
# Calculate the percentage of students that passed math and reading
passing_math_reading_count_df = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [222]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = [
    {"School Total" : school_count, "Total Students": student_count, "Total Budget": budget_data, "Average Math Score" : average_math_score,
    "Average Reading Score": average_reading_score, "% Passing Math": passing_math_percentage, "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_rate}]
pd.DataFrame(district_summary)
district_summary_df = pd.DataFrame (district_summary)

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,School Total,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# School Summary

In [375]:
school_name = school_data['school_name']
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [340]:
# Select School Types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [259]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [377]:
# Calculate the total school budget per school from school_data
per_school_budget = school_data.set_index(['school_name'])['budget']
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [529]:
# Calculate the per capita spending per school from school_data
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [560]:
# Calculate the average math score per school

Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [539]:
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130